* {
	box-sizing: border-box;
	margin: 0;
}

.mainContainer {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin: 0;
	padding: 0;
}

.catList {
	display: flex;
	flex-flow: column wrap;
	width: 30%;
	padding: 10px;
	text-align: left;
	align: left;
}

.catContainer {
	display: flex;
	flex-flow: column wrap;
	width: 70%;
	padding: 10px 20px 0 0;
	text-align: center;
	align: center;
}

.catName {
	text-align: center;
	align: center;
}

.catImg {
	width: 100%;
	margin: 10px 0 10px;
	
}

.catClickCount {
	text-align: center;
	align: center;
	font-size: 30px;
}